.dashboard{
    .title{
        font-size: 1.5rem;
    }
    .name{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .lockers_number{
        font-size: 1.5rem;
        font-weight: bold;

    }
    .period{
        font-size: 1.5rem;
        font-weight: bold;

    }
}
.locker{
    cursor: pointer;
}