.dashboard{
    .title{
        font-size: 1.5rem;
    }
    .name{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .lockers_number{
        font-size: 1.5rem;
        font-weight: bold;

    }
    .period{
        font-size: 1.5rem;
        font-weight: bold;

    }
}
.locker{
    cursor: pointer;
}

    .card-body-info{
        @media (max-width: 768px) {
        
                margin: 0;
                padding: 0;
            }
        
    }
